@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');

*{margin: 0%;}

body{background-color: #5D3723;}

header{
    width: 100%;
    height: 300px;
    background-color: #6D412A;

}

header > h1{
    text-align: center ;
    margin: 0px ;
}

header > h1 > img{
    width: 30vw;
}

nav{
    background-color: #533220;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
}

nav > div > p{
    display: inline-block;
    margin: 1% 5% 0% 5%;
    color: #CDAC79;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;}



.primeironav{display: inline-block;
    margin: 0% 5%;
    color: #CDAC79;
    font-size: 16px;
margin-left: 18%;}

nav > div{margin: 0px;}

#quemsomos{
    width: 100%;
    background-image:url(Imagens/quemsomosfundo.png);
    height:525px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;

}

.quemsomostexto{
    position: relative;
    top: 6%;
    width: 407px;
    height: 400px;
    margin: 0px 0px 20px 100px;
    background-color: #CDAC79;
    padding: 15px;
    border-color: #57301d;
    border-width: 16px;
    border-style: solid;
    font-family: 'Ruda', sans-serif;}

.quemsomostitulo{
    font-size: 32.98px;
    margin-bottom: 0px;
    color:#3B2316 ;
}

.quemsomosparagrafo{
    font-size: 16px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;

}

#cafes{
    width: 100%;
    background-image:url(Imagens/cafes.png);
    height:542px;
    background-size: cover;
    background-repeat: no-repeat;}

    .nossoscafes{background-color: #5d3723a9;
        width: 343px;
        height: 53px;
        padding-top: 18px;
        text-align: center;
        position: relative;
        left: 38%;
        top: 30px;
        font-size: 30px;
        color: #EBC58C;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 200;}
        
        .cafesdivs{display: inline-block;
        margin-right: 200px;
        margin-top: 30px;}
        
        .nomecafe{font-size: 25px;
        color: #EBC58C;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        }
        
        .alinharcafesdivs{display: inline-block;
                position: relative;
                left: 275px;
                top: 70px;}
        
        .imagemcafe{width: 100%;}

#produtos{
    width: 100%;
    background-image:url(Imagens/produtos.png);
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.divproduto{
    width: 500px;
    height: 300px;
    background-color:#EBC58C;
    border: 20px solid #5D3723;
    display: inline-block;
    position: relative;
    left: 100px;
    top: 30px
}

#h2produto{
    position: relative;
    top: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

#botaoesq{
    display: inline-block;
    position: relative;
    right: 31px;
    top: 35px;}

#caneca{display: inline-block;
    position: relative;
    left: 12px;
    top: 35px;}

#botaodir{display: inline-block;
    position: relative;
    left:73px;
    top: 35px;}

#descricaoprodutos{
    display: inline-block;
    position: relative;
    left: 400px;
    bottom: 5px;
    height: 500px;
    width: 500px;
    top: 10px;
}

#pcdt{
    color: #20130C;
    text-align: center;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
font-weight: 200;}

#descricaopcdt{
    color: black;
    width:360px ;
    text-align: justify;
    font-size: 23px;
    position: relative;
    left: 10%;
    top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#botaoprodutos{
    background-color: #5D3723;
    border-radius: 50px;
    width: 300px;
    height: 70px;
    position: relative;
    top: 120px;
    left: 95px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#pbotao{position: relative;
    font-size: 20px;
    padding: 20px;
    left: 7%;
    bottom: 20%;
    color:#CDAC79;
}

#unidades{
    width: 100%;
    background-image:url(Imagens/unidades.png);
    height:700px;
    background-size: cover;
    background-repeat: no-repeat;
}

#unidadesh1{
    position: relative;
    top: 16px;
    text-align: center;
    font-size: 60px;
    color: #3B2316;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 200;}

#alinhardivsunidades{
    position: relative;
    left: 0%;
    margin-left: 7%;
    top: 15%;
    
}

.unidadesdivs{
    display: inline-block;
    margin: 0px 20px;
}

.h2divunidades{
    text-align: center;
    color: black;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;}

.tamanhoimg{ width: 75%;}

.alinharimagem{
    text-align: center;
}

.alinhardescricao{
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

footer{
    background-color: #5D3723;
    height: 300px;
    width: 100%;
    margin-bottom: 0%;
}

#logofooter{
    display: inline-block;
    position: relative;
    left: 5%;
    top: 0%;
}

#logofooterimg{
    width: 100%;
}

#nosacompanhe{position: relative;
left: 50%;
display: inline-block;
bottom: 40%;
width: 300px;}

#nossasredes{text-align: center;
    color: #EBC58C;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.tamanhoimgfooter{width: 20%;}

#alinharfotos{text-align: center;
    position: relative;
    top: 10px;
    

}
